[Unit]
Description=UDP Server Service
After=network.target

[Service]
ExecStart=/usr/local/bin/udp-test -d -p 12345
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
